{% extends "layout.html" %}

{% block page_title %}
  Search summary
{% endblock %}

{% block content %}

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/">Digital Marketplace</a></li>
        <li><a href="/">Your account</a></li>
        <li><a href="/saved-searches">Your saved searches</a></li>
    </ol>
  </nav>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      {% if status == 'done' or status == 'ongoing' or status == 'notdone' %}
      <div class="banner-success-without-action">
          <p class="banner-message">
            You’ve updated ‘Buying some hosting’
          </p>
      </div>
      {% endif %}
    </div>
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Buying some hosting
      </h1>
    </div>
  </div>
  <div class="grid-row direct-award-project-overview-page">
    <div class="column-two-thirds">
      <ol class="instruction-list">
        <li class="instruction-list-item divider">
          <h2 class="instruction-list-item-body">Write a list of your requirements</h2>
          <p class="instruction-list-item-top">Work with buyers, someone who will use the service and technical experts to prepare a list of ‘must-haves’ and ‘wants’. These should inform your search category, keywords and filters.</p>
          <p class="instruction-list-item-top">You can also <a href="https://www.gov.uk/guidance/talking-to-suppliers-before-you-buy-digital-marketplace-services" target="_blank" rel="external noopener noreferrer" data-analytics="trackEvent" data-analytics-category="Direct Award" data-analytics-action="External Link">talk to suppliers before you start</a> to help you refine your requirements.</p>
        </li>
        <li class="instruction-list-item divider">
          <h2 class="instruction-list-item-body">Save your search</h2>
          <p class="instruction-list-item-top search-summary"><span class="search-summary-count">14</span> results found containing <em>drupal</em> in <em>Cloud support</em> in the category <em>Security testing</em>, where the supplier is <em>not a reseller</em>, where user support is available by <em>phone</em>, with staff security clearance that <em>conforms to BS7858:2012</em>, where suppliers are prepared to make sure their staff have <em>Security Clearance (SC)</em> and with a <em>discount for educational organisations</em></p>
          <p class="instruction-list-item-top"><a href="/g-cloud/search?q=drupal&amp;serviceCategories=security+testing&amp;resellingType=not_reseller&amp;phoneSupport=true&amp;staffSecurityClearanceChecks=staff_screening_to_bs7858_2012&amp;governmentSecurityClearances=sc&amp;educationPricing=true&amp;lot=cloud-support">View results</a></p>
          <p class="instruction-list-item-box complete">Search saved on Monday 16 April 2018 at 9:46am BST</p>
        </li>

        <li class="instruction-list-item divider">
          <h2 class="instruction-list-item-body">Refine your search</h2>
          <p class="instruction-list-item-top">If you need to, add filters to refine the results of your search. Save your search again to record any changes you make.</p>
        </li>

        <li class="instruction-list-item divider">
          <h2 class="instruction-list-item-body">End your search</h2>
          <p class="instruction-list-item-top">End your search to create a spreadsheet of the services you’ve found. You should only do this when you have finished searching for services.</p>
          <p class="instruction-list-item-top">You cannot edit your search once it has ended.</p>
          <p class="instruction-list-item-box complete">Search ended on Monday 16 April 2018 at 10:01am BST</p>
        </li>

        <li class="instruction-list-item divider">
          <h2 class="instruction-list-item-body">Download your search results</h2>
          <p class="instruction-list-item-top">Download a spreadsheet of your search results.<br>You can use the spreadsheet to help you review or <a href="https://www.gov.uk/guidance/g-cloud-buyers-guide#review-and-compare-services" target="_blank" rel="external noopener noreferrer" data-analytics="trackEvent" data-analytics-category="Direct Award" data-analytics-action="External Link">compare services</a>.</p>
          <p class="instruction-list-item-box complete">Search results downloaded</p>
          <p class="instruction-list-item-top"><a href="/buyers/direct-award/g-cloud/projects/686839978763940/results" data-analytics="trackEvent" data-analytics-category="Direct Award" data-analytics-action="Internal Link">Download your results again.</a></p>
        </li>

        <li class="instruction-list-item divider">
          <h2 class="instruction-list-item-body">Award a contract</h2>
          <p class="instruction-list-item-top"><a href="https://www.gov.uk/government/publications/g-cloud-9-call-off-contract" target="_blank" rel="external noopener noreferrer" data-analytics="trackEvent" data-analytics-category="Direct Award" data-analytics-action="External Link">Download the G-Cloud 9 call-off contract</a>.<br>Read about <a href="https://www.gov.uk/guidance/how-to-award-a-contract-when-you-buy-services" target="_blank" rel="external noopener noreferrer" data-analytics="trackEvent" data-analytics-category="Direct Award" data-analytics-action="External Link">how to award a contract when you buy services</a>.</p>
          <p class="instruction-list-item-top">The buyer and supplier must both sign a copy of the contract before the service can be used.</p>
          {% if not status or status =='ongoing' %}
            <p class="instruction-list-item-top">
            <a class="button" href="/did-you-award" role="button">Tell us the outcome</a>
          </p>
          {% endif %}
          {% if status == 'done' %}
            <p class="instruction-list-item-box complete">Contract awarded</p>
          {% endif %}

          {% if status == 'notdone' %}
            <p class="instruction-list-item-box complete">{{ data.radiogroup2 }}</p>
          {% endif %}

        </li>

        <li class="instruction-list-item divider">
          <h2 class="instruction-list-item-body">Publish the contract</h2>
          <p class="instruction-list-item-top">Contracts worth over £10,000 must be published on <a href="https://www.gov.uk/contracts-finder" target="_blank" rel="external noopener noreferrer" data-analytics="trackEvent" data-analytics-category="Direct Award" data-analytics-action="External Link">Contracts Finder</a>.</p>
        </li>

        <li class="instruction-list-item divider">
          <h2 class="instruction-list-item-body">Complete the Customer Benefits Record form</h2>
          <p class="instruction-list-item-top">Fill in the Crown Commercial Service’s <a href="http://ccs-agreements.cabinetoffice.gov.uk/sites/default/files/contracts/G-Cloud%20Customer%20Benefits%20Record_4.docx" target="_blank" rel="external noopener noreferrer" data-analytics="trackEvent" data-analytics-category="Direct Award" data-analytics-action="External Link">G-Cloud 9 Customer Benefits Record form</a>.</p>
          <p class="instruction-list-item-top">Email a copy to <a href="mailto:gcloud-benefits@crowncommercial.gov.uk" target="_top" data-analytics="trackEvent" data-analytics-category="Direct Award" data-analytics-action="External Link">gcloud-benefits@crowncommercial.gov.uk</a>.</p>
        </li>
      </ol>
    </div>
  </div>
</main>

{% endblock %}
